---
import Layout from "../layouts/Layout.astro";

import AboutProducer from "../components/AboutProducer.astro";

import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout
    title={`About - ${site_info.title}`}
    description="Meet the producer behind The Beach House LA."
>
    <main class="pt-20">
        <AboutProducer />
    </main>
</Layout>
