---
import Layout from "../layouts/Layout.astro";

import ContactForm from "../components/ContactForm.astro";

import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout
    title={`Contact - ${site_info.title}`}
    description="Book a session or reach out for inquiries."
>
    <main class="pt-20">
        <ContactForm />
    </main>
</Layout>
