---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout
    title={`Contact - ${site_info.title}`}
    description="Book a session or reach out for inquiries."
>
    <Navbar />
    <main class="pt-20">
        <ContactForm />
    </main>
    <Footer />
</Layout>
