---
import Layout from "../layouts/Layout.astro";

import GearList from "../components/GearList.astro";

import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout
    title={`Gear - ${site_info.title}`}
    description="Explore our analog and digital gear collection."
>
    <main class="pt-20">
        <GearList />
    </main>
</Layout>
