---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ValueProp from '../components/ValueProp.astro';
import AboutProducer from '../components/AboutProducer.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import GearList from '../components/GearList.astro';
import Amenities from '../components/Amenities.astro';
import ContactForm from '../components/ContactForm.astro';
import siteData from '../data/site-data.json';

const { site_info } = siteData;
---

<Layout title={site_info.title} description={site_info.description}>
	<Navbar />
	<main>
		<Hero />
		<ValueProp />
		<AboutProducer />
		<ServicesGrid />
		<GearList />
		<Amenities />
		<ContactForm />
	</main>

</Layout>
