---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import ValueProp from "../components/ValueProp.astro";

import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout title={site_info.title} description={site_info.description}>
	<main>
		<Hero />
		<ValueProp />
		<!-- Quick Links / Teasers could go here, but keeping it simple as per request -->
	</main>
</Layout>
