---
import Layout from "../layouts/Layout.astro";

import MentorshipIntake from "../components/MentorshipIntake.astro";

const title = "Artist Mentorship | Beach House Studios";
const description =
    "Apply for exclusive artist mentorship and development with Beach House Studios.";
---

<Layout title={title} description={description}>
    <main>
        <MentorshipIntake />
    </main>
</Layout>
