---
import Layout from "../layouts/Layout.astro";

import ServicesGrid from "../components/ServicesGrid.astro";

import siteData from "../data/site-data.json";

const { site_info } = siteData;
---

<Layout
    title={`Services - ${site_info.title}`}
    description="Production, Mixing, and Session Work services."
>
    <main class="pt-20">
        <ServicesGrid />
    </main>
</Layout>
